@model AdvWorks.ViewModelLayer.ProductViewModel
@using AdvWorks.EntityLayer

@{
  ViewData["Title"] = "MVC Test Samples";
}

<h1>MVC Test Samples</h1>

<p>Make sure the connection string in the appsettings.json file points to your server and database.</p>

<ul>
  @foreach (Product item in Model.Products) {
    <li>@item.Name</li>
  }
</ul>
